* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #ffc600;
    font-size: 20px;
    font-weight: 200;
    font-family: cursive;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.hl {
    background-color: #ffc600;
}
.search-form {
    margin-top: 60px;
    width: 400px;
    position: relative;
}
.search-input {
    width: 120%;
    position: relative;
    left: -10%;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: #000;
    background-color: #ffff;
    border: 10px solid #f3f3f3;
    border-radius: 5px;
    outline: 0;
}
.search-input::placeholder {
    color: #757575;
}
.suggestions li {
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    padding: 20px;
}
.suggestions li:nth-child(2n + 1) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(2n) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
