/*     <style>

      .slide-in {
        opacity: 0;
        transition: all 0.5s;
      }
      .align-left {
        float: left;
        margin-right: 20px;
      }
      .align-left.slide-in {
        transform: translateX(-30%) scale(0.95);
      }

      .align-right {
        float: right;
        margin-left: 20px;
      }
      .align-right.slide-in {
        transform: translateX(30%) scale(0.95);
      }

      .slide-in.active {
        opacity: 1;
        transform: translateX(0%) scale(1);
      }
    </style> */

* {
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
}
.site-wrap {
  padding: 40px;
  margin: 100px auto;
  width: 100%;
  max-width: 700px;
  text-align: justify;
  background-color: #fff;
}
h1 {
  margin-bottom: 25px;
}
.slide-in {
  opacity: 0;
  transition: all 0.5s;
}
.align-left.slide-in {
  transform: translateX(-30%) scale(0.96);
}
.align-left {
  float: left;
  margin-right: 20px;
}
.align-right.slide-in {
  transform: translateX(30%) scale(0.96);
}
.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in.active {
  transform: translateY(0%) scale(1);
  opacity: 1;
}
